<% provide(:title, "Home") %>

<<<<<<< HEAD
<<<<<<< HEAD
    <h1>GAMERES</h1>
=======
>>>>>>> origin/master
=======
<h1>home</h1>
>>>>>>> sample1
    <p>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </p>