<% provide(:title,"Signup") %>
<div class="row">
 <div class="container-fluid center jumbotron mt-4">
  <h1 class="display-4">ようこそ！<br>GAMERESへ！</h1>
  <h2>
    これはゲーマーに向けたSNSです！
  <div>  <%= link_to "こちら" , login_path , class:"btn btn-primary" %></div>
    からログインしてください
  </h2>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
 </div>
 <p>まだ登録していなければ <%= link_to "登録はこちらから！", signup_path %></p>
</div>