<h1>GAMERES登録ありがとうございます！</h1>

<p>どうも！ <%= @user.name %>さん</p>

<p>
ようこそ！GAMERESへ！ 次のリンクから登録を完了させてください！
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>